<?xml version="1.0" encoding="utf-8"?>
<SettingsGroups>
  <SettingsGroup Name="Default">
    <Data Music="0.7" Effects="1" DisplayFactor="1.6" DASStartDelay="450" DASRate="100" LockTime="666" SmoothFall="false" SmoothRotate="true" MusicOption="tetris_a_theme_techno_A" SoundScheme="Default" />
  </SettingsGroup>
</SettingsGroups>